html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  text-indent: -10000px;
  
}

li:last-child img{
  background: url(https://www.gstatic.com/images/icons/material/system/2x/refresh_grey600_24dp.png) no-repeat center center;
}